body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    transform: rotate(-20deg);
    z-index: -1;
}
.color {
    height: 3.1em;
    width: 1vh;
}
.color:nth-of-type(1) {
    background-color: #76c15d;
    width: 200%;
}
.color:nth-of-type(2) {
    background-color: #f9c24a;
    width: 200%;
}
.color:nth-of-type(3) {
    background-color: #f6933c;
    width: 200%;
}
.color:nth-of-type(4) {
    background-color: #e45251;
    width: 200%;
}
.color:nth-of-type(5) {
    background-color: #a657a6;
    width: 200%;
}
.color:nth-of-type(6) {
    background-color: #28afe4;
    width: 200%;
}
.name {
    margin: 1.5em 0 1.5em 0;
    width: 90%;
    max-width: 438px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
}
h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 4px 4px 13px rgba(0,0,0,0.94);
}
h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 2em;
    width: 90%;
    max-width: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    text-transform: uppercase;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    text-shadow: 4px 4px 13px rgba(0,0,0,0.94);
}
#profileImage {
    margin-top: 3em;
    width: 29%;
    border: 0;
    border-radius: 50%;
}
.icons {
    width: 11em;
    display: flex;
    justify-content: space-around;
    margin: 0.4em;
    z-index: 1;
}
.icons a {
    transition-duration: 0.5s;
}
.icons a:hover {
    transform: scale(1.2);
}
svg {
    color: white;
    width: 2em;
    height: 2em;
}
.linkGroup {
    width: 90%;
    max-width: 670px;
    margin-top: 0.5em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    overflow: hidden;
}
.linkCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    width: 100%;
    max-width: 100%;
    transition-duration: 0.5s;
}
.linkCard:focus {
    transform: scale(0.9);
}
.linkItem {
    display:grid;
    grid-template-columns: 1fr 3fr;
    max-width: 100%;
}
.linkImg {
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkTitle {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-decoration: none;
    text-shadow: 4px 4px 13px rgba(0,0,0,0.94);
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
#shareButton {
    height: 32px;
    width: 32px;
    margin-left: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    overflow: hidden;
    top: 5px;
    right: 5px;
}
.alert{
    font-size: small;
    width: 60%;
    height: 2em;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    position: absolute;
    top: 10px;
    z-index: 2;
}
