::selection {
    background-color: purple;
    color: yellow;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    
}
.container {
    top: 18.6em;
    width: 200%;
    position: fixed;
    transform: rotate(-20deg);
    z-index: -1;
}
.color {
    height: 3.1em;
    width: 200%;
}
.color:nth-of-type(1) {
    background-color: #76c15d;
}
.color:nth-of-type(2) {
    background-color: #f9c24a;
}
.color:nth-of-type(3) {
    background-color: #f6933c;
}
.color:nth-of-type(4) {
    background-color: #e45251;
}
.color:nth-of-type(5) {
    background-color: #a657a6;
}
.color:nth-of-type(6) {
    background-color: #28afe4;
}
.name {
    margin: 1.5em 0 1.5em 0;
    width: 90%;
    max-width: 438px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
}
h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 4px 4px 13px rgba(0,0,0,0.94);
}
h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 2em;
    width: auto;
    max-width: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-transform: uppercase;
    
}
#profileImage {
    margin-top: 3em;
    width: 29%;
    border: 0;
    border-radius: 50%;
}
.icons {
    width: 11em;
    display: flex;
    justify-content: space-around;
    margin: 0.4em;
    z-index: 1;
}
.icons a {
    transition-duration: 0.5s;
}
.icons a:hover {
    transform: scale(1.2);
}
svg {
    color: white;
    width: 2em;
    height: 2em;
}
.linkGroup {
    width: 90%;
    max-width: 670px;
    margin-top: 0.5em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    overflow: hidden;
}
.linkCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    width: 100%;
    max-width: 100%;
    transition-duration: 0.5s;
}
.linkCard:focus {
    transform: scale(0.9);
}
.linkItem {
    display:grid;
    grid-template-columns: 1fr 3fr;
    max-width: 100%;
}
.linkImg {
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkTitle {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-decoration: none;
    text-shadow: 4px 4px 13px rgba(0,0,0,0.94);
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
#shareButton {
    height: 32px;
    width: 32px;
    margin-left: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    overflow: hidden;
    top: 5px;
    right: 5px;
}
.alert{
    font-size: small;
    width: 60%;
    max-width: 400px;
    height: 2em;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    position: fixed;
    top: 10px;
    z-index: 2;
}
.titleGroup {
    height: 4em;
    width: 90%;
    max-width: 670px;
    margin-top: 0.5em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
}
.titleGroup h2 {
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    margin: 0.5em;
    cursor: pointer;
    position: relative;
    z-index: 999;
}
#social {
    display: none;
}
.slider {
    font-size: 1.5em;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 40%;
    margin: 12px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);

}
.space {
    width: 100%;
    height: 6em;
    z-index: -1000000;
}
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 5px;
    z-index: 999;
}
.sticked-nav .titleGroup{
    border-radius: 50px;
}
.sticked-nav .slider {
    border-radius: 50px;
}
#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f32d;
    border-top: 6px solid white;
    border-radius: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    visibility: hidden;
    animation: spin 1s infinite linear;
}
#loading.display {
    visibility: visible;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.contact-icon {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
}
.contact {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    position: fixed;
    bottom: 2em;
    right: 2em;
    width: 52px;
    max-width: 300px;
    max-height: 260px;
    height: 52px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    z-index: 1000;
}
.contact.expanded {
    width: 90%;
    height: 90%;
    border-radius: 20px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.contact-form input {
    color: white;
    width: 100%;
    height: 2em;
    margin-bottom: 7px;
    border: none;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
}
.contact-form input::placeholder {
    color: white;
    opacity: 1;
    padding-left: 5px;
}
.contact-form button {
    background-color: white;
    color: black;
    width: 60%;
    height: 2.5em;
    margin-bottom: 5px;
    border: none;
    border-radius: 30px;
}